# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
coverage/base.css
coverage/block-navigation.js
coverage/favicon.png
coverage/index.html
coverage/prettify.css
coverage/prettify.js
coverage/sort-arrow-sprite.png
coverage/sorter.js
coverage/src/App.tsx.html
coverage/src/BottomPanel.tsx.html
coverage/src/BottomTabs.tsx.html
coverage/src/FloatingToolbar.tsx.html
coverage/src/GlyphCanvas.tsx.html
coverage/src/HeaderBar.tsx.html
coverage/src/index.html
coverage/src/main.tsx.html
coverage/src/PageTabs.tsx.html
coverage/src/PropertySheet.tsx.html
coverage/src/Stencil.tsx.html
coverage/src/Toolbar.tsx.html
coverage/src/UnitsOverlay.tsx.html
coverage/src/glyph/Connection.tsx.html
coverage/src/glyph/Glyph.tsx.html
coverage/src/glyph/GlyphDocument.tsx.html
coverage/src/glyph/GlyphRenderer.tsx.html
coverage/src/glyph/index.html
coverage/src/glyph/Page.tsx.html
coverage/src/glyph/Port.tsx.html
coverage/src/glyph/type/ColorPalette.tsx.html
coverage/src/glyph/type/ConfigDrivenProperties.tsx.html
coverage/src/glyph/type/GlyphRegistry.tsx.html
coverage/src/glyph/type/index.html
coverage/src/glyph/type/basic/CircleGlyph.tsx.html
coverage/src/glyph/type/basic/index.html
coverage/src/glyph/type/basic/MultiPortGlyph.tsx.html
coverage/src/glyph/type/basic/PngGlyph.tsx.html
coverage/src/glyph/type/basic/RectGlyph.tsx.html
coverage/src/glyph/type/basic/ResizableRectangleGlyph.tsx.html
coverage/src/glyph/type/basic/TextGlyph.tsx.html
coverage/src/glyph/type/bpmn/BPMNActivities.tsx.html
coverage/src/glyph/type/bpmn/BPMNDataObjects.tsx.html
coverage/src/glyph/type/bpmn/BPMNEvents.tsx.html
coverage/src/glyph/type/bpmn/BPMNGateways.tsx.html
coverage/src/glyph/type/bpmn/BPMNGlyph.tsx.html
coverage/src/glyph/type/bpmn/BPMNGlyphs.tsx.html
coverage/src/glyph/type/bpmn/BPMNSwimlanes.tsx.html
coverage/src/glyph/type/bpmn/index.html
coverage/src/glyph/type/cloud/CloudComputeGlyphs.tsx.html
coverage/src/glyph/type/cloud/CloudGlyph.tsx.html
coverage/src/glyph/type/cloud/CloudGlyphs.tsx.html
coverage/src/glyph/type/cloud/CloudNetworkGlyphs.tsx.html
coverage/src/glyph/type/cloud/CloudSecurityGlyphs.tsx.html
coverage/src/glyph/type/cloud/CloudServicesGlyphs.tsx.html
coverage/src/glyph/type/cloud/CloudStorageGlyphs.tsx.html
coverage/src/glyph/type/cloud/index.html
coverage/src/glyph/type/flowchart/FlowBasic.tsx.html
coverage/src/glyph/type/flowchart/FlowchartGlyph.tsx.html
coverage/src/glyph/type/flowchart/FlowConnector.tsx.html
coverage/src/glyph/type/flowchart/FlowControl.tsx.html
coverage/src/glyph/type/flowchart/FlowDocument.tsx.html
coverage/src/glyph/type/flowchart/FlowManual.tsx.html
coverage/src/glyph/type/flowchart/FlowMisc.tsx.html
coverage/src/glyph/type/flowchart/FlowProcess.tsx.html
coverage/src/glyph/type/flowchart/index.html
coverage/src/glyph/type/logic/AndGateGlyph.tsx.html
coverage/src/glyph/type/logic/index.html
coverage/src/glyph/type/logic/NandGateGlyph.tsx.html
coverage/src/glyph/type/logic/NorGateGlyph.tsx.html
coverage/src/glyph/type/logic/NotGateGlyph.tsx.html
coverage/src/glyph/type/logic/OrGateGlyph.tsx.html
coverage/src/glyph/type/logic/XnorGateGlyph.tsx.html
coverage/src/glyph/type/logic/XorGateGlyph.tsx.html
coverage/src/glyph/type/mcp/index.html
coverage/src/glyph/type/mcp/MCPClientOptions.ts.html
coverage/src/glyph/type/mcp/MCPGlyph_.tsx.html
coverage/src/glyph/type/mcp/MCPGlyph.tsx.html
coverage/src/glyph/type/mcp/MCPProperties.tsx.html
coverage/src/glyph/type/network/index.html
coverage/src/glyph/type/network/NetworkDevices.tsx.html
coverage/src/glyph/type/network/NetworkGlyph.tsx.html
coverage/src/glyph/type/network/NetworkInfra.tsx.html
coverage/src/glyph/type/network/NetworkPower.tsx.html
coverage/src/glyph/type/network/NetworkServerProperties.tsx.html
coverage/src/glyph/type/network/NetworkServices.tsx.html
coverage/src/glyph/type/network/NetworkTelecom.tsx.html
coverage/src/glyph/type/network/NetworkVirtual.tsx.html
coverage/src/glyph/type/uml/index.html
coverage/src/glyph/type/uml/UMLAbstractGlyph.tsx.html
coverage/src/glyph/type/uml/UMLAssociationGlyph.tsx.html
coverage/src/glyph/type/uml/UMLAttr.tsx.html
coverage/src/glyph/type/uml/UMLClassGlyph.tsx.html
coverage/src/glyph/type/uml/UMLEnumGlyph.tsx.html
coverage/src/glyph/type/uml/UMLInheritanceGlyph.tsx.html
coverage/src/glyph/type/uml/UMLInterfaceGlyph.tsx.html
coverage/src/glyph/type/uml/UMLMethod.tsx.html
coverage/src/glyph/type/uml/UMLPackageGlyph.tsx.html
coverage/src/glyph/type/util/DebugGlyph.tsx.html
coverage/src/glyph/type/util/index.html
coverage/src/glyphCanvas/canvasUtils.ts.html
coverage/src/glyphCanvas/ConnectionItem.tsx.html
coverage/src/glyphCanvas/ContextMenus.tsx.html
coverage/src/glyphCanvas/GlyphItem.tsx.html
coverage/src/glyphCanvas/index.html
coverage/src/glyphCanvas/types.ts.html
coverage/src/hooks/index.html
coverage/src/hooks/useGlyphActions.ts.html
coverage/src/hooks/usePageManagement.ts.html
